{% extends 'layout.html' %}

{% from 'back-link/macro.njk' import backLink %}
{% from 'button/macro.njk' import button %}
{% from 'radios/macro.njk' import radios %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block beforeContent %}
  {{ backLink({
    href: "start-page",
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
    {% from 'error-summary/macro.njk' import errorSummary %}

{{ errorSummary({
  titleText: "There is a problem",
  descriptionText: "You have to select one option before continuing.",
  errorList: [
    {
      text: "Select one option",
      href: "#example-error-1"
    }
  ]
}) }}
      <form action="symptoms" method="post" novalidate>

        {{ radios({
          name: "hasSymptoms",
          value:data.hasSymptoms,
          fieldset: {
            legend: {
              text: "Do you have symptoms of magical powers?",
              isPageHeading: true,
              classes: "nhsuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "Yes",
              text: "Yes"
            },
            {
              value: "No",
              text: "No"
            },
            {
              value: "Not sure",
              text: "I'm not sure"
            }
          ]
        }) }}

        {{ button({
          text: "Continue"
        }) }}

      </form>
    </div>
  </div>
{% endblock %}