{% extends 'layout.html' %}

{% from 'back-link/macro.njk' import backLink %}
{% from 'button/macro.njk' import button %}
{% from 'radios/macro.njk' import radios %}
{% from 'input/macro.njk' import input %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block beforeContent %}
  {{ backLink({
    href: "start-page",
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <form action="/magical-powers-relatives" method="post" novalidate>


{% set relativeHtml %}
  {{ input({
    id: "relative",
    name: "relative",
    value: data.relative,
    classes: "nhsuk-u-width-two-thirds",
    label: {
      text: "Name the type of relationship "
    }
  }) }}
{% endset -%}



        {{ radios({
          name: "hasRelative",
          value:data.hasRelative,
          fieldset: {
            legend: {
              text: "Do you have any close relatives who have a magic power?",
              isPageHeading: true,
              classes: "nhsuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "Yes",
              text: "Yes",
      conditional: {
        html: relativeHtml
      }
            },
            {
              value: "No",
              text: "No"
            }
          ]
        }) }}

        {{ button({
          text: "Continue"
        }) }}

      </form>
    </div>
  </div>
{% endblock %}