{% extends 'layout.html' %}

{% from 'breadcrumb/macro.njk' import breadcrumb %}
{% from 'button/macro.njk' import button %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [
      {
        href: "index",
        text: "Home"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>{{serviceName}}</h1>
      <p>Use this service to do order a test.</p>

      {% from 'inset-text/macro.njk' import insetText %}

{% set insetTextHtml %}
  <p>If you are under 13 your parent should order the test for you. See our <a href="#" title="Policy">policy</a> for additional deatils. UK safety scheme.</p>
{% endset %}

{{ insetText({
  html: insetTextHtml
}) }}
      <p>You can use this service if you:</p>
      <ul>
        <li>live in England</li>
        <li>are over 13 old</li>
        <li>you experienced magic powers before</li>
      </ul>

      <h2>Before you start</h2>

      <p>We'll ask you for:</p>
      <ul>
        <li>symptoms</li>
      </ul>

      {{ button({
        text: "Start now",
        href: "magical-powers"
      }) }}

      <p>By using this service you are agreeing to our <a href="#">terms of use</a> and <a href="#">privacy policy</a>.</p>

    </div>
  </div>
{% endblock %}